# Ignore environment variables
.env

# Ignore node modules
node_modules/

# Ignore dist
dist/

# Ignore Docker volumes
mongo/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore coverage
coverage/

# Ignore logs
logs/